{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <br>
    <h1>Tasks</h1>

    {% if tasks %}
        {% for task in tasks %}
            <div class="box" style="height: 150px">
                <a href="{{ url_for('task_details', task_number=task[1]) }}">
                    <h3>{{ task[2] }}</h3>
                    <p>Deadline: {{ task[5] }}</p>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="box">No tasks found.</div>
    {% endif %}

{% endblock %}
