{% extends "layout.html" %}

{% block title %}
    Set Timezone
{% endblock %}

{% block body %}

<div class="box" style="height: 550px; position: absolute; left: 0;">
    <h1>Select your timezone:</h1>
    <form action="/set_timezone" method="post">
        <select name="timezone" class="form-control">
            <option value="Etc/GMT+12">(UTC-12) Etc/GMT+12</option>
            <option value="Etc/GMT+11">(UTC-11) Etc/GMT+11</option>
            <option value="Etc/GMT+10">(UTC-10) Etc/GMT+10</option>
            <option value="Etc/GMT+9">(UTC-9) Etc/GMT+9</option>
            <option value="Etc/GMT+8">(UTC-8) Etc/GMT+8</option>
            <option value="Etc/GMT+7">(UTC-7) Etc/GMT+7</option>
            <option value="Etc/GMT+6">(UTC-6) Etc/GMT+6</option>
            <option value="Etc/GMT+5">(UTC-5) Etc/GMT+5</option>
            <option value="Etc/GMT+4">(UTC-4) Etc/GMT+4</option>
            <option value="Etc/GMT+3">(UTC-3) Etc/GMT+3</option>
            <option value="Etc/GMT+2">(UTC-2) Etc/GMT+2</option>
            <option value="Etc/GMT+1">(UTC-1) Etc/GMT+1</option>
            <option value="Etc/GMT">(UTC+0) Etc/GMT</option>
            <option value="Europe/Amsterdam">(UTC+1) Europe/Amsterdam</option>
            <option value="Europe/Athens">(UTC+2) Europe/Athens</option>
            <option value="Europe/Moscow">(UTC+3) Europe/Moscow</option>
            <option value="Asia/Dubai">(UTC+4) Asia/Dubai</option>
            <option value="Asia/Karachi">(UTC+5) Asia/Karachi</option>
            <option value="Asia/Dhaka">(UTC+6) Asia/Dhaka</option>
            <option value="Asia/Bangkok">(UTC+7) Asia/Bangkok</option>
            <option value="Asia/Shanghai">(UTC+8) Asia/Shanghai</option>
            <option value="Asia/Tokyo">(UTC+9) Asia/Tokyo</option>
            <option value="Australia/Brisbane">(UTC+10) Australia/Brisbane</option>
            <option value="Pacific/Noumea">(UTC+11) Pacific/Noumea</option>
            <option value="Pacific/Auckland">(UTC+12) Pacific/Auckland</option>
            <option value="America/St_Johns">(UTC-3:30) America/St_Johns</option>
            <option value="Asia/Tehran">(UTC+3:30) Asia/Tehran</option>
            <option value="Asia/Kabul">(UTC+4:30) Asia/Kabul</option>
            <option value="Asia/Kolkata">(UTC+5:30) Asia/Kolkata</option>
            <option value="Asia/Kathmandu">(UTC+5:45) Asia/Kathmandu</option>
            <option value="Asia/Yangon">(UTC+6:30) Asia/Yangon</option>
            <option value="Australia/Eucla">(UTC+8:30) Australia/Eucla</option>
            <option value="Australia/Adelaide">(UTC+9:30) Australia/Adelaide</option>
            <option value="Australia/Lord_Howe">(UTC+10:30) Australia/Lord_Howe</option>
            <option value="Pacific/Norfolk">(UTC+11:30) Pacific/Norfolk</option>
            <option value="Pacific/Chatham">(UTC+12:45) Pacific/Chatham</option>
        </select>
        <br>
        <button type="submit" class="btn" onclick="timezoneSaved()">Set Timezone</button>
    </form>
    <br>
    <p id="valid" style="color: #318c2a"></p>
</div>


    <div class="box" id="utc_time" style="position: absolute; right: 0; height: 200px;">
        <button type="button" id="utc_button" class="btn" onclick="displayUTCTime()">Show UTC current date and time</button>
        <br>
        <p id="utcTime" style="color: #ccbdbc"></p>
    </div>


   <script src="{{ url_for('static', filename='timezone.js') }}"></script>

{% endblock %}
