{% extends "layout.html" %}

{% block title %}
    Level
{% endblock %}

{% block body %}

<div class="box" id="levelDisplay">

</div>

<div class="container">
    <div class="bar lvl" id="expBar">
    </div>
</div>

<script>
    // Get the user's experience points from backend
    var userExp = {{ user_exp }};

    // Calculate the level based on experience points
    var level = Math.floor(userExp / 20) + 1;

    // Update the width of the experience bar
    var expBar = document.getElementById('expBar');
    expBar.style.width = (userExp % 20) * 5 + '%';  // Each 20 exp corresponds to 5% width

    // Update the level display
    var levelDisplay = document.getElementById('levelDisplay');
    levelDisplay.innerHTML = 'Level: ' + level;
</script>

{% endblock %}
